<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Participant Details</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100 dark:bg-[#121212]">
    <div
      class="container mx-auto max-w-md p-6 bg-white dark:bg-[#1E1E1E] rounded-lg shadow-md"
    >
      <h1 class="text-2xl font-bold text-gray-800 dark:text-[#FFFFFF] mb-4">
        Participant Details
      </h1>
      <img
        src="{{ url_for('get_image', participant_id=participant['_id']) }}"
        alt="Participant Photo"
        class="mx-auto rounded-md mb-4"
      />
      <p class="text-gray-700 dark:text-[#FFFFFF] mb-2">
        <span class="dark:text-[#BABABA]">Name:</span> {{ participant['name'] }}
      </p>
      <p class="text-gray-700 dark:text-[#FFFFFF] mb-2">
        <span class="dark:text-[#BABABA]">Email:</span> {{ participant['email']
        }}
      </p>
      <p class="text-gray-700 dark:text-[#FFFFFF] mb-2">
        <span class="dark:text-[#BABABA]">Phone:</span> {{ participant['phone']
        }}
      </p>
      <p class="text-gray-700 dark:text-[#FFFFFF] mb-4">
        <span class="dark:text-[#BABABA]">Status:</span> {{
        participant['status'] }}
      </p>

      <form action="/update_status/{{ participant['_id'] }}" method="post">
        <button
          type="submit"
          name="status"
          value="In Campus"
          class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mr-2"
        >
          In Campus
        </button>
        <button
          type="submit"
          name="status"
          value="Outside Campus"
          class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
        >
          Outside Campus
        </button>
      </form>
    </div>
  </body>
</html>
